html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --background-color: #e8e8e8;
  --foreground-color: #f2f2f2;
  --contrast-color: #28182d;
  --header-color: #fcfcfc;
  --border-color: #dadada;
  --border-color-emphasis: #9b9b9b;
  --hover-color: #dadada;
  --active-color: lightblue;
  --disabled-color: #5d5d5d;
  --primary-text: #640074;
  --secondary-text: #ffffff;
  --radius: 1em;
  --sizep: 1rem;
  --sizeh3: 1.618rem;
  --sizeh2: 2.618rem;
  --sizeh1: 4.236rem;
  --KitxTsuki: #ff3700;
  --MiiraculousSushii: #772ce8;
  --Salemba_: green;
  --Woobat: blue;
  --Tophatsss: #00d4ff;
  --MimaSweets: red;
  --WhatifAndy: purple;
  --fade: rgba(255, 255, 255, 0.7);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #28182d;
    --foreground-color: #392140;
    --contrast-color: #e8e8e8;
    --header-color: #663973;
    --border-color: #28182d;
    --border-color-emphasis: #241527;
    --hover-color: #3244274d3232;
    --active-color: #ffe1ff;
    --disabled-color: #ffcdff;
    --primary-text: #ffffff;
    --secondary-text: #2c2c2c;
    --radius: 1em;
    --fade: rgba(0, 0, 0, 0.7);
    ;
  }
}

body {
  font-family: "Atkinson Hyperlegible";
  background-color: var(--background-color);
  padding: 0;
  margin: 0;
  color: var(--secondary-text);
}

h1 {
  background-color: rgba(255, 0, 0, 0.522);
  display: grid;
  color: var(--primary-text);
  font-size: var(--sizeh1);
  margin: 0;
  max-width: 80dvw;
}

h2 {
  margin: auto;
  padding: 0;
  display: grid;
  color: var(--primary-text);
  font-size: var(--sizeh2);
  place-items: center;
}

h3 {
  font-size: var(--sizeh3);
}

p {
  margin: auto;
  padding: auto;
  color: var(--secondary-text);
  font-size: var(--sizep);
}

a {text-decoration: none;
color: var(--secondary-text);}

#TalentSection{

}

.gridCards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  place-items: center;
  padding: 1rem;
  margin: auto;
}

.talentCards {
  width: 38vw;
  height: 38vw;
  margin: 0;
  padding: 0.5em;
  scale: 0.9;
  border: .2em solid #000;
  border-radius: var(--radius);
  background-size: cover;
  background-position: center;
  text-align: center;
  place-items: middle;
  place-content: space-around;
  box-shadow: 0 0 0.5em #000;
  transition: scale 1s ease-out;
}

.talentCards:hover {
  transition: scale 1s ease-out;
  box-shadow: 0 0 1em blue;
  color: var(--contrast-color);
  scale: 1;
  color: white;
}

.talentName {
  font-weight: bold;
}



@media only screen and (min-device-width: 720px) {

  .gridCards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .talentCards {
    margin: 0.5em;
    width: 300px;
    height: 200px;
  }

  .talentCards:hover {
    scale: 1.1;
  }

}

#HeroSection {
  height: 100dvh;
  background-image: url(https://placehold.jp/3d4070/5e629c/1080x1080.png?text=hero%20background);
  background-size: cover;
  background-position: center;
  place-content: center;
  text-align: left;
  padding: 0 0 0 2em;
}

#HeroFlavourText {
  background-color: rgba(0, 128, 0, 0.514);
  font-family: "Atkinson Hyperlegible";
  font-size: var(--sizeh3);
  padding-left: 2em;
  margin: 0 1.5em 0 0;
  text-wrap: pretty;
}

#TalentSection {
  background-size: cover;
  background-position: center;
  padding: 1em 0 3em 0;
}

#KitxTsuki {
  background-image: url(../media/TwitchAvatars/KitxTsuki.png);
}

#KitxTsuki:hover {
  background-image: linear-gradient(to bottom, var(--fade), var(--fade)),
    url(../media/TwitchAvatars/KitxTsuki.png);
  box-shadow: 0 0 1rem var(--KitxTsuki);
  color: var(--KitxTsuki);
}

#MiiraculousSushii {
  background-image: url(../media/TwitchAvatars/MiiraculousSushii.png);
}

#m4f1achip {
  background-image: url(../media/TwitchAvatars/m4f1achip.png);
}

#Salemba_ {
  background-image: url(../media/TwitchAvatars/Salemba_.png);
}

#Woobat {
  background-image: url(../media/TwitchAvatars/Woobat.png);
}

#Tophatsss {
  background-image: url(../media/TwitchAvatars/Tophatsss.png);
}

#Sir_Xurr {
  background-image: url(../media/TwitchAvatars/Sir_Xurr.png);
}

#MimaSweets {
  background-image: url(../media/TwitchAvatars/MimaSweets.png);
}

#WhatifAndy {
  background-image: url(../media/TwitchAvatars/WhatifAndy.png);
}