/* Navigation starts header */

header {
    background: var(--navbg);
    text-align: center;
    position: fixed;
    z-index: 255;
    width: 100%;
}

.logo {
    margin: 1em;
    margin-left: 1em;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--navbg);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span {
    position: relative;
}


nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    /* margin-left: 1em; */
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: black;
}

.nav-toggle:checked~nav {
    transform: scale(1, 1);
}

.nav-toggle {
    display: none;
}

.nav-toggle:checked~nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 768px) {

    .nav-toggle-label {
        display: none;
    }

    .logo {
        margin: .3em;
        margin-left: 1em;
        grid-column: 1;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(768, 3fr) 1fr;
    }


    nav {
        all: unset;
        grid-column: 3;
        display: flex;
        align-items: center;
        justify-content: space-around;

    }

    nav ul {
        display: flex;
        justify-content: flex-end;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav li {
        margin-left: 2em;
        margin-bottom: 0;
    }

    nav a::before {
        content: '';
        display: block;
        height: .2em;
        bottom: -.1em;
        background: var(--highlight);
        position: absolute;
        left: -.2em;
        right: -.2em;
        transform: scale(0, 1);
        transform-origin: top;
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1, 1);
    }
}

/* Navigation Ends Here */