  @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Amarante&family=Oswald&family=Reggae+One&display=swap');
html {
    --s: 100px; /* control the size */
    --c1: #f3f3f3;
    --c2: #dad7d7;
    
    --_g: 
       var(--c2) 6%  14%,var(--c1) 16% 24%,var(--c2) 26% 34%,var(--c1) 36% 44%,
       var(--c2) 46% 54%,var(--c1) 56% 64%,var(--c2) 66% 74%,var(--c1) 76% 84%,var(--c2) 86% 94%;
    background:
      radial-gradient(100% 100% at 100% 0,var(--c1) 4%,var(--_g),rgba(113, 116, 119, 0.3) 96%,#0000),
      radial-gradient(100% 100% at 0 100%,#0000, rgba(113, 116, 119, 0.3) ,var(--_g),var(--c1) 96%)
      var(--c1);
    background-size: var(--s) var(--s);
    
  }

  .left-image, .right-image{
    object-fit: cover;
    width: 100px;
    height: 100px;
    align-items: center;
    margin: 1rem;
}

  body {
    min-width: 500px;
    margin: 3em;
    margin-top: 0;
    text-align: center;
  }

.title {
    display:inline-flex;
    grid-template-columns: 25%, 50%, 25%;
    grid-template-rows: auto;
    column-gap: 10 px;
    justify-items: center;
}

h1 {
    color: black;
    font-family: 'Alfa Slab One', cursive;
    font-size: 3em; 
    text-shadow: 5px 5px #929292;
}


.beneficiaries, .dates, .times, .timestamp{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: darkred;
    text-shadow: 2px 2px #929292;
    margin-bottom: auto;
    margin-top: auto;
}

.calendar {
    display:inline-flex;
    margin: 2rem;
    margin-bottom: auto;
}

.gametitle{
    font-family: 'Reggae One', cursive;
    font-size: 2em;
    color: black;
    text-shadow: 3px 3px #929292;
}

.runners, .commentators{
    font-family: 'Amarante', cursive;
    font-size: 1.5em;
    color: black;
    text-shadow: 1px 1px #929292;
}

.runners-links, .commentators-links{
    display: grid;
    color: var(--goldish);
    column-gap: 20px;
    row-gap: 9px;    
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

/* unvisited link */
.runners a, .commentators a:link {
    color: darkred;
    text-decoration: none;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 5px;
  }
  
  /* visited link */
  a:visited {
    color: purple;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }



