@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@400;600&family=Klee+One:wght@600&display=swap');

@font-face {
  font-family: 'Secuela Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Secuela Regular'), url('Secuela-Regular.woff') format('woff');
}

:root {
  /* Backgrounds */
  --header-background-color: #b8a2ce;
  --odd-row-colors: #faefef;
  --even-row-colors: white;
  /* Font Colors */
  --header-font-color: white;
  --odd-row-font-color: DimGray;
  --even-row-font-color: DimGray;
  /* Strikethrough Colors */
  --strikethrough-font-color: DimGray;
  --strikethrough-line-color: DimGray;
  --strikethrough-line-thickness: 2px;
  /* Font Families */
  --header-font-families: Expletus Sans, Apercu Mono, Arial, Helvetica, sans-serif;
  --odd-font-families: Secuela Regular, Apercu Mono, Arial Helvetica, sans-serif;
  --even-font-families: Secuela Regular, Apercu Mono, Arial, Helvetica, sans-serif;
  /* Border */
  --border-color: #dddddd;
  /*Others*/
  --row-padding: 6px;
  --mouse-hover-row-color: #e3b6da;

}

#table {
  background-color: var(--odd-row-colors);
  color: var(--odd-row-font-color);
  font-family: var(--odd-font-families);
  border-collapse: collapse;
  width: 100%;
  border: 2px solid var(--border-color);
}

#table td,
#table th {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: none;
  border-right: none;
  padding: var(--row-padding);
}

#table tr:nth-child(even) {
  background-color: var(--even-row-colors);
  color: var(--even-row-font-color);
  font-family: var(--even-font-families);
}

#table tr:hover {
  background-color: var(--mouse-hover-row-color);
}

#table th {
  font-family: var(--header-font-families);
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: var(--header-background-color);
  color: var(--header-font-color);
}

td:nth-child(2) {
  text-align: right;
}

td:nth-child(3) {
  text-align: left;
}

.width {
  width: 1px;
  white-space: nowrap;
}

.strike {
  color: var(--strikethrough-font-color);
  font-size: 15px;
  text-decoration-line: line-through;
  text-decoration-color: var(--strikethrough-line-color);
  text-decoration-thickness: var(--strikethrough-line-thickness);
  text-decoration-style: doub;
}